{%include header.html fromIndex=true %}
<section class="inner">
  <a name="projects" id="projects"></a>
  <h2>Projects</h2>
  {%include projects-timeline.html %}
</section>

<section class="inner">
  <a name="blog" id="blog"></a>
  <h2>Blog</h2>
  {%include top-post.html %}
</section>

<section class="inner">
  <a name="publications" id="publications"></a>
  <h2>Publications</h2>
  {%include all-publi.html %}
</section>

<section class="inner">
  <a name="contact" id="contact"></a>
  <h2>Get in Touch</h2>
  {%include contacts.html %}
</section>
{%include footer.html %}