{%include header.html fromIndex=true %}
<span class="anchor" id="projects"></span>
<section class="inner">
  <h2>Projects</h2>
  {%include projects-timeline.html %}
</section>

<span class="anchor" id="blog"></span>
<section class="inner" id="blog">
  <h2>Blog</h2>
  {%include top-post.html %}
</section>

<span class="anchor" id="publications"></span>
<section class="inner">
  <h2>Publications</h2>
  {%include all-publi.html %}
</section>

<span class="anchor" id="contact"></span>
<section class="inner">
  <h2>Get in Touch</h2>
  {%include contacts.html %}
</section>
{%include footer.html %}